FIREBASE_PROJECT_ID=example-project-id
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----
FIREBASE_CLIENT_EMAIL=firebase-admin@example-project.iam.gserviceaccount.com

TRPC_ORIGIN=http://localhost:5000

SENDGRID_API_KEY=SG.example_key

GOOGLE_CLOUD_STORAGE_BUCKET=example-project.appspot.com
