# Dependencies
node_modules/
pnpm-lock.yaml

# Build
lib/
dist/

# Environment
.env
.env.local
.env.production.local
.env.*.local
!.env.example

# Firebase
.firebase/
.firebaserc

# IDE
.vscode/
.idea/
*.swp
.DS_Store
